<!DOCTYPE html>
<html>
<head>
  <title>TweetBeat</title>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render 'layouts/navbar' %>

  <div class='synth'>
    <%= render 'layouts/topics', :topics => @topics %>
    <%= render 'layouts/synth' %>
  </div>


</body>
</html>
