<!DOCTYPE html>
<html>
<head>
  <title>TweetBeat</title>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render 'layouts/navbar' %>

  <div class='synth'>
    <%= render 'layouts/topics', :topics => @topics %>
    <div class='synth_canvas' style="background:red" id="0"></div>
    <div class='synth_canvas' style="background:yellow" id="1"></div>
  </div>


</body>
</html>
